@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,900&family=Spectral:ital,wght@0,400;0,500;0,700;0,800;1,200;1,300;1,400;1,700&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Spectral', serif; */

header,
nav {
    background-color: #ffc017;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #191919;
}

header {
    display: flex;
}

#title h1,
#title h2,
#title button {
    margin: 5%;
}

header h1 {
    font-family: 'Spectral', serif;
    font-size: 3.5rem;
}

header h2 {
    font-size: 1.2rem;
}

nav {
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
    padding: 3% 5%;
    align-items: center;
    font-size: 0.8rem;
}

nav img {
    margin-right: auto;
    width: 140px;
}

nav p {
    margin: 0 3%;
}

button {
    border: 0;
    color: white;
    background-color: #191919;
    padding: 2%;
    border-radius: 20px;
    font-size: 0.8rem;

}

@media screen and (min-width: 481px) {
    nav button {
        padding: 1.5% 3%;
    }
}

@media screen and (min-width: 769px) {
    nav button {
        font-size: 1.2rem;

        padding: 0.5% 3%;
    }
}

nav p:nth-child(2),
nav p:nth-child(3),
nav p:nth-child(4) {
    visibility: hidden;
    position: absolute;
}


#SVGDELMALE {
    visibility: hidden;
    position: absolute;
}

@media screen and (min-width: 481px) {
    #title button {
        padding: 1.8% 8%;
        font-size: 1rem;
    }

    #title h1 {
        font-size: 4.5rem;
        font-weight: 500;
    }

    #title h2 {
        font-size: 1.5rem;
    }

    #title h1,
    #title h2,
    #title button {
        margin: 5%;
    }

    #title {
        padding: 5% 0;
        width: 70%;
        margin-bottom: 5%;
    }

    #SVGDELMALE {
        visibility: visible;
        position: absolute;
        z-index: 0;
        right: -30%;
        top: 5%;
    }

    nav p:nth-child(2),
    nav p:nth-child(3),
    nav p:nth-child(4) {
        visibility: visible;
        position: relative;
    }

    nav {
        padding: 2% 5%;
        border-bottom: 1px solid #191919;
        align-items: center;
    }

    nav p {
        margin: 0 1.5%;
    }

    nav img {}

    nav button {
        padding: 1.5%;
        margin: 0 1.5%;
    }
}


@media screen and (min-width: 769px) {


    nav {
        padding: 1% 5%;
        border-bottom: 1px solid #191919;
        align-items: center;
    }

    nav p {
        margin: 0 1.5%;
    }

    nav button {
        padding: 0.8% 1.2%;
        margin: 0 1.5%;
    }

    #SVGDELMALE {
        visibility: visible;
        position: absolute;
        top: 5%;
        right: 0;
        width: 100vh;
    }
}

aside {
    z-index: 1;
}